name: Build Typst document
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: typst-community/setup-typst@v4
      - run: typst compile --root . test.typ test.pdf
      - uses: actions/upload-artifact@v4
        with:
          name: PDF
          path: test.pdf
